        body {
            margin: auto;
        }
        
        .topbar-nav {
            float: left;
            height: 40px;
            line-height: 40px;
            background-color: black;
            width: 2200px;
        }
        
        .topbar-nav a {
            color: darkgrey;
            text-decoration: none;
            width: 50px;
        }
        
        .topbar-nav a:hover {
            color: white;
            text-decoration: solid;
        }
        
        .sep {
            height: 40px;
            margin-right: 19px;
            margin-left: 19px;
            color: black;
        }
        
        .site-header {
            width: 100%;
            height: 100px;
        }
        
        .site-header .header-logo {
            float: left;
            width: 80px;
            height: 100px;
        }
        
        .site-header .header-nav {
            float: left;
            width: 1000px;
            height: 100px;
        }
        
        .site-header .header-nav .navcon li {
            float: left;
            text-align: center;
            width: 105px;
            height: 100px;
            list-style: none;
        }
        
        .site-header .header-nav .navcon li a {
            text-decoration: none;
            display: block;
            width: 105px;
            height: 42px;
            color: black;
        }
        
        .site-header .header-nav .navcon li a:hover {
            color: orangered;
            text-decoration: solid;
        }
        
        .site-header .header-nav .navcon li ul {
            width: 1000px;
            display: none;
        }
        
        .site-header .header-nav .navcon li:hover ul {
            display: inline;
            position: absolute;
            z-index: 2000;
        }
        
        .site-header .header-search {
            float: left;
            height: 40px;
            width: 400px;
            display: flex;
        }
        
        .site-header .header-search .search-bar {
            align-items: center;
            margin-top: 24px;
            padding: 11px;
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            width: 200px;
            cursor: text;
        }
        
        .site-header .header-search .p {
            width: 60px;
            height: 20px;
            padding-top: 15px;
            float: left;
        }
        
        .home-hero {
            width: 100%;
            height: 400px;
            padding-top: 10px;
        }
        
        .home-hero .home-hero-l {
            float: left;
            width: 250px;
            height: 400px;
        }
        
        .nav-barone {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        
        .nav-barone ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .nav-barone li {
            display: block;
            margin-right: 20px;
            width: 225px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: darkgray;
            border-style: solid;
            border-color: white;
            border-width: 1px;
        }
        
        .nav-barone a {
            text-decoration: none;
            color: white;
        }
        
        .nav-barone a:hover {
            text-decoration: none;
            color: orangered;
        }
        
        .arrow {
            width: 10px;
            height: 40px;
        }
        
        .home-hero .home-hero-m {
            float: left;
            width: 1020px;
            height: 400px;
        }
        
        .slider {
            position: relative;
            width: 1000px;
            height: 400px;
            overflow: hidden;
        }
        
        .slides {
            display: flex;
            width: 1000px;
            height: 400px;
            transition: transform 0.5s ease;
        }
        
        .slide {
            width: 100px;
            height: 400px;
            flex: 0 0 auto;
        }
        
        .slide img {
            width: 1000px;
            padding-top: 30px;
            object-fit: contain;
            display: block;
            text-align: center;
        }
        
        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 60%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: orangered;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }
        
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        
        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
        
        .buttom {
            width: 100%;
            height: 100px;
            padding-top: 40px;
        }
        
        .buttom .one {
            float: left;
            height: 135px;
            width: 305px;
            margin: 10px;
            background-color: rgb(85, 78, 66);
        }
        
        .buttom .one a {
            text-decoration: none;
            color: #d1cccc;
        }
        
        .buttom .one li {
            display: inline-block;
            height: 52px;
            width: 80px;
            margin-bottom: 8px;
            border-bottom: #7a6c6c solid 1px;
            overflow: hidden;
        }
        
        .buttom .two {
            float: left;
            height: 135px;
            width: 305px;
            margin: 10px;
        }
        
        .buttom .three {
            float: left;
            height: 135px;
            width: 305px;
            margin: 10px;
        }
        
        .buttom .four {
            float: left;
            height: 135px;
            width: 305px;
            margin: 10px;
        }
        
        .buttom img {
            height: 135px;
            width: 305px;
        }
        
        .right {
            position: fixed;
            left: 1405px;
            top: 165px;
            width: 115px;
            height: 460px;
        }
        
        .right a {
            color: gray;
            display: block;
            text-decoration: none;
            width: 80px;
            height: 70px;
            text-align: center;
            margin-bottom: 7px;
            border-bottom: #e6e4e4 solid 1px;
            border-left: 1px solid #e6e4e4;
        }
        
        .right a:hover {
            color: orangered;
        }
        
        .right ul {
            list-style-type: none;
            text-decoration: solid;
        }
        
        .rightone {
            position: fixed;
            left: 1405px;
            top: 195px;
            width: 115px;
            height: 460px;
        }
        
        .rightone a {
            color: gray;
            display: block;
            text-decoration: none;
            width: 80px;
            height: 70px;
            text-align: center;
            margin-bottom: 7px;
            color: black;
        }
        
        .rightone a:hover {
            color: orangered;
        }
        
        .rightone ul {
            list-style-type: none;
            text-decoration: solid;
        }